.navbar {
  height: 40px;
  min-width: 720px;
  max-width: 960px;
  font: 17px "Comic Sans", Arial, sans-serif;
  letter-spacing: 1px;
}

.left-section {
  display: inline-block;
  float: left;
  margin: 11px 0 0 100px;
  height: 40px;
}

.right-section {
  display: inline-block;
  float: right;
  margin: 5px 100px 0 0;
  height: 40px;
  font-size: 14px;
}

.rs-text {
  float: left;
  margin-top: 6px;
}

.cart {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

div.cart img {
  width: 30px;
}

a {
  text-decoration: none;
  color: #000;
}












