/*Navigation bar stylying*/

.navbar {
  height: 40px;
  min-width: 720px;
  max-width: 100%;
  font: 16px "Comic Sans", Arial, sans-serif;
  letter-spacing: 1px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.left-section {
  display: inline-block;
  float: left;
  margin: 11px 0 0 100px;
  height: auto;
}

.right-section {
  display: inline-block;
  float: right;
  margin: 5px 100px 0 0;
  height: auto;
  font-size: 13px;
}

.rs-text {
  float: left;
  margin-top: 6px;
}

.cart {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

div.cart img {
  width: 30px;
}

nav a {
  text-decoration: none;
  color: #000;
}

/*Logo, titles, and body styling*/

.logo {
  min-width: 720px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.logo img {
  height: auto;
  max-width: 100%;
  margin-bottom: -3.33px;
}

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  max-width: 960px;
  text-align: center;
  vertical-align: middle;
}

.logo-title {
  height: 90px;
  min-width: 720px;
  text-align: center;
  background-color: #2d2d2d;
  letter-spacing: 1px;
}

.logo-title p {
  color: #FFF;
  font: 24px "Comic Sans", Arial, sans-serif;
  padding-top: 30px;
}

.alt-title {
  height: 40px;
  border-left: 2px solid #A1A2A4;
  border-right: 2px solid #A1A2A4;
  border-bottom: 2px solid #A1A2A4;
  min-width: 720px;
}

.alt-title p {
  color: #A1A2A4;
  font: 17px "Comic Sans", Arial, sans-serif;
  text-align: center;
  padding-top: 10px;
  font-style: italic;
}

/*Main content*/

.main-content img {
  height: 80%;
}

.main-content div {
  width: 200px;
  height: 220px;
  display: inline-block;
  vertical-align: top;
  margin: 20px 6.5px 0 6.5px;
}

.main-content {
  min-width: 720px;
  height: 550px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

table {
  width: 100%;
}

th {
  background-color: #2d2d2d;
  color: #FFF;
  font: 14px "Comic Sans", Arial, sans-serif;
  height: 28px;
  vertical-align: middle;
  border: 2px solid #000;
  letter-spacing: 1px;
}

.button {
  background-color: #2d2d2d;
  height: 28px;
  border: 2px solid #000;
  vertical-align: middle;
}

.image {
  height: 151px;
  vertical-align: middle;
  border: 4px solid #333;
}

button {
  border: 1px solid #000;
  background-color: #F5A860;
  font-size: 10px;
  font-weight: bold;
  width: 50%;
}

.pagination {
  margin-top: 22px;
}

.pagination p {
  display: inline-block;
  font-weight: bold;
  font: 12px "Comic Sans", Arial, sans-serif;
}

.pagination a {
  font: 12px "Comic Sans", Arial, sans-serif;
  letter-spacing: 1px;
  margin: 0 7px 0 7px;
}

/*Footer*/

footer {
  background-color: #2d2d2d;
  width: 100%;
  height: 125px;
}

.contact {
  font: 12px "Comic Sans", Arial, sans-serif;
  color: #F5A860;
  letter-spacing: 1px;
  padding-top: 20px;
}

footer div p {
  font: 11px "Comic Sans", Arial, sans-serif;
  color: #FFF;
  display: inline-block;
}

footer img {
  width: 25px;
  padding: 10px 10px 0 0;
}

.phone p {
  position: relative;
  top: -12px;
}

.mail {
  position: relative;
  right: -16px;
}

.mail p {
  position: relative;
  top: -12px;
}


